<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">

  <test name="Test2">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.hrm.scripts.VerifyLoginLogout"/>
      <class name="com.hrm.scripts.ExplicitLoginScenario"/>
      <class name="com.hrm.scripts.ImplicitLoginScenario"/>
      <class name="com.hrm.scripts.VerifyLogo"/>
      <class name="com.hrm.scripts.CreateAdmin"/>
      <class name="com.hrm.scripts.CreateDeleteEmployee"/>
    </classes>
    </test>
    
    <test name="Test3">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.hrm.scripts.VerifyLoginLogout"/>
      <class name="com.hrm.scripts.ExplicitLoginScenario"/>
      <class name="com.hrm.scripts.ImplicitLoginScenario"/>
      <class name="com.hrm.scripts.VerifyLogo"/>
      <class name="com.hrm.scripts.CreateAdmin"/>
      <class name="com.hrm.scripts.CreateDeleteEmployee"/>
    </classes>
        </test>
    
    
    <test name="Test">
  <parameter name="browser" value="ie"/>
    <classes>
      <class name="com.hrm.scripts.VerifyLoginLogout"/>
      <class name="com.hrm.scripts.ExplicitLoginScenario"/>
      <class name="com.hrm.scripts.ImplicitLoginScenario"/>
      <class name="com.hrm.scripts.VerifyLogo"/>
      <class name="com.hrm.scripts.CreateAdmin"/>
      <class name="com.hrm.scripts.CreateDeleteEmployee"/>
    </classes>
        </test>
    
 
  
  
  
   <!-- Test -->
</suite> <!-- Suite -->
